footer
  ul#social-links
    li(class="social-link")
      a#github-link(href="https://github.com/mCaballero1224", target="_blank")
        i#github-icon(class="fa-brands fa-github fa-2xl")
    li(class="social-link")
      a#linkedin-link(href="https://www.linkedin.com/in/mcaballero-dev", target="_blank")
        i#linkedin-icon(class="fa-brands fa-linkedin fa-2xl")
    li(class="social-link")
      a#youtube-link(href="https://www.youtube.com/@michaelcaballero-dev", target="_blank")
        i#youtube-icon(class="fa-brands fa-youtube fa-2xl")
    li(class="social-link")
      a#x-twitter-link(href="https://x.com/straysh333p", target="_blank")
        i#x-twitter-icon(class="fa-brands fa-x-twitter fa-2xl")
  p &copy; Michael Caballero (2025)
