extends template.pug

block content
  h2 About Me
  hr
  article#about
    section#about-general
      h3(class="about-title") Personal Background
      p.
        I've been into technology for as long as I can remember. From messing
        around on the early 2000s web, to videogames, to binging LTT videos as a
        teenager. That last habit eventually got me to build a gaming PC, at
        which point I dove into learning about hardware and troubleshooting.
        After high school, I decided to study computer science in college.
      p.
        During my time in college, I became enthralled with hacking and
        cybersecurity as a whole. While it has certainly provent to be a
        multidisciplinary field with a ton of depth, I enjoy that aspect of it
        since it means there's always something for me to dig into.
        These days, I'm just about finishing up my Bachelor's Degree for
        Computer Science, with my focus being in Cybersecurity.
    hr(class="separator")
    section#about-education
      h3(class="about-title") Educational Background
      p.
        I graduated from community college with honors and obtained an 
        Associate's in Computer Science. From there, I transferred to 
        Oregon State University to continue my CS studies. My time in
        community college was spent learning a lot of the basics: data
        structures, simple algorithms, and Object Oriented Programming.
        On the side, I took some time to study psychology and sociology.
      p.
        In university, my classes quickly began to lean more towards CS
        and development. I started with web development and networking
        basics, after which I learned about computer architecture by 
        building some projects in x86 Assembly. Currently, my classes
        have been focused on security and encryption. There's also been
        an increase in group projects, which has helped me to learn to
        develop projects while part of a team.
    hr(class="separator")
    section#about-professional
      h3(class="about-title") Professional Background
      p.
        Despite my studies being in CS, a lot of my professional background
        has been in hospitality. I've worked hotels for roughly 7 years.
        Everything from small local spots, to casino resorts, to convention 
        hotels with over 1000 rooms. It's been a great way to be exposed 
        to all sorts of people and develop my social skills.
      p.
        Aside from hospitality, I also spent some time working as a coach in a
        correctional facility. My job consisted of getting groups of
        incarcerated individuals together for classes consisting of emotional
        regulation methods, goal setting/planning, and habit building. While my
        time in this job was relatively short compared to my work in
        hospitality, it helped me greatly by giving me practice working with
        those with a background much different from my own.
