extends template.pug

block content
  h2 About Me
  hr
  article
    section#about-general
      h3(class="about-title") Personal Background
    hr(class="about-separator")
    section#about-education
      h3(class="about-title") Educational Background
    hr(class="about-separator")
    section#about-professional
      h3(class="about-title") Professional Background
