extends template.pug

block content
  h2 About Me
  hr
  article#about
    section#about-general
      h3(class="about-title") Personal Background
      p.
        I've been into technology for as long as I can remember. From messing
        around on the early 2000s web, to videogames, to binging LTT videos as a
        teenager. That last habit eventually got me to build a gaming PC, at
        which point I dove into learning about hardware and troubleshooting.
        After high school, I decided to study computer science in college.
      p.
        During my time in college, I became enthralled with hacking and
        cybersecurity as a whole. While it has certainly provent to be a
        multidisciplinary field with a ton of depth, I enjoy that aspect of it
        since it means there's always something for me to dig into.
        These days, I'm just about finishing up my Bachelor's Degree for
        Computer Science, with my major being in Cybersecurity.
    hr(class="about-separator")
    section#about-education
      h3(class="about-title") Educational Background
        p.
    hr(class="about-separator")
    section#about-professional
      h3(class="about-title") Professional Background
