extends template.pug

block content
  h2 Welcome to my little corner of the net
  article
    section
      p. 
        Whether you're a potential employer, collaborator, or just someone who
        happened to stumble in here by chance, feel free to look about at what I have
        to offer here!
      p. 
        If you want to check out the code for this site, you can do so #[a(href="https://github.com/mCaballero1224/portfolio_site", target="_blank") here!]
  hr.main-separator
  article
    section
      h3 My Library
      ul#library-list
  hr.main-separator
  article
    section
      h3 Cool Sites
      ul#site-list
  hr.main-separator
  article
    section
      h3 Posts
      ul#post-list


  script(src="/javascripts/library.js")
  script(src="/javascripts/sites.js")
