doctype html
html(lang="en")
  include includes/head.pug
  body
    header 
      h1
        span Michael
        a#logo(href="/home")
          img(src="/android-chrome-192x192.png", alt="logo/favicon")
        span Caballero
      nav
        ul
          li#nav-home(class="nav-item"): a(href="/home") Home
          li#nav-about(class="nav-item"): a(href="/about") About
          li#nav-contact(class="nav-item"): a(href="/contact") Contact
          li#nav-projects(class="nav-item"): a(href="/projects") Projects
    main
      block content
    include includes/footer.pug
    script(src="/javascripts/navbar.js")
