doctype html
html(lang="en")
  include includes/head.pug
  body
    header 
      h1
        span Michael
        a(href="/home")
          img#logo(src="/android-chrome-75x75.png", alt="logo/favicon")
        span Caballero
      nav
        ul
          li#nav-home(class="nav-item"): a(href="/home") Home
          li#nav-about(class="nav-item"): a(href="/about") About
          li#nav-contact(class="nav-item"): a(href="/contact") Contact
          li#nav-projects(class="nav-item"): a(href="/projects") Projects
    main
      block content
    footer
      ul#social-links
        li(class="social-link", id="github-social")
          a(href="https://github.com/mCaballero1224", target="_blank")
            img(src="/images/github.jpg", class="social-img", alt="link to my GitHub profile")
        li(class="social-link", id="linkedin-social")
          a(href="https://www.linkedin.com/in/mcaballero-dev/", target="_blank")
            img(src="/images/linkedin.jpg", class="social-img", alt="link to my LinkedIn profile")
        li(class="social-link", id="x-social")
          a(href="/https://x.com/straysh333p", target="_blank")
            img(src="/images/twitter-alt.jpg", class="social-img", alt="link to my Twitter/X profile")
        li(class="social-link", id="youtube-social")
          a(href="https://www.youtube.com/@michaelcaballero-dev",
          target="_blank")
            img(src="/images/youtube.jpg", class="social-img", alt="link to my youtube channel")
      p &copy; Michael Caballero (2025)
    script(src="/javascripts/navbar.js")
