:root {
  /* CSS HSL */
  --rich-black: hsla(216, 100%, 4%, 1);
  --oxford-blue: hsla(211, 100%, 12%, 1);
  --yale-blue: hsla(209, 100%, 20%, 1);
  --gold: hsla(50, 100%, 52%, 1);
  --cornsilk: hsla(49, 100%, 95%, 1);
}

body {
  font-family: monospace;
  background-color: var(--oxford-blue);
  color: var(--cornsilk);
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-size: 12px;
}

header h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto 0;
  padding: 15px;
  width: 90%;
}

header h1 span {
  margin: auto 0;
}

.construction {
  text-align: center;
}

#logo {
  height: 75px;
  width: 75px;
  margin: 0 10px;
  border-radius: 15px;
  background-color: var(--yale-blue);
}

#logo img {
  height: 75px;
  width: 75px;
}

nav {
  padding: 0;
  margin: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--yale-blue);
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: var(--gold);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav ul li:hover a, .nav-highlight a {
  background-color: var(--gold);
  color: var(--oxford-blue);
}

.main-separator {
  color: var(--yale-blue);
  background-color: var(--yale-blue);
  height: 2px;
  margin: 20px 0;
  border-radius: 5px;
}

.site-separator {
  color: var(--cornsilk);
}

#library-list {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

.book-item span {
  font-size: 12px;
  font-weight: normal;
}

.book-title a {
  font-weight: bold;
}

#site-list, #project-list {
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-item, .project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 200px;
  padding: 5px 0;
  margin: 5px 0;
  align-items: center;
}

.project-item {
  border-radius: 15px;
  max-width: 500px;
}

.project-item {
  background-color: var(--cornsilk);
  color: var(--rich-black);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.site-link, .project-link {
  padding: 0;
  margin: auto 0;
}

.project-title a {
  color: var(--yale-blue);
}

.site-link, .project-link {
  padding: 0;
  margin: 0;
  display: flex;
  justify-conent: center;
  align-items: center;
}

.site-image {
  margin: auto 20px;
  width: 100px;
}

.image-container {
  margin: 10px;
  background-color: var(--gold);
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-container:hover {
  background-color: var(--yale-blue);
}

.image-container:hover .image-link {
  color: var(--gold);
}

.project-image {
}

.image-link {
  color: var(--rich-black);
}

.site-overview, .project-overview {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  max-height: 200px;
}

.site-overview li, .project-overview li {
  padding: 5px 0;
  margin: 0;
}

.site-title, .site-author, .project-title {
  text-align: left;
}

.site-title, .project-title {
  font-weight: bold;
  font-size: 1.1em;
}

.site-description, .project-description {
  line-height: 1.5;
}

#social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px auto;
  padding: 0;
  width: 70%;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}


.social-link a {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-description {
  margin-top: 10px;
}

.social-link a {
  color: var(--cornsilk);
}

.social-link:hover a {
  color: var(--gold);
}

#about section {
  padding: 0;
  margin: 0;
}

#about section p {
  text-indent: 2em;
  padding: 0 15px;
}

.about-title {
  text-align: left;
}

main {
  padding: 2%;
  margin: 4% auto;
}

h1, h2, h3 {
  text-align: center;
}

article {
  padding: 20px 
  margin: 20px;
}

section {
  padding: 10px;
}

p {
  font-size: 14px;
}

a {
  color: var(--gold);
}

footer p {
  text-align: center;
}
